@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #212121;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "herobeam";
  src: url("/fonts/HeroBeamRegular-8Mw8J.woff2") format("woff2"),
    url("/fonts/HeroBeamRegular-8Mw8J.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
